<!DOCTYPE html>
<html>
<head>
<title>User Interface</title>
{{template "style"}}
</head>
<body>
	<button id="start" type="button">Click Me!</button>
	<div id="app">
		{{template "tabs"}}
		{{template "script"}}
	</div>
</body>
</html>