{{define "devicePage"}}
<table class="table table-dark">
  <thead>
    <tr>
      <th ><a style="height:100%;" onclick="switcherSetting.switch('#setting-buttons')">BACK</a></th>
      <th><h1>Device 1</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Device Type: phone</td>
    </tr>
    <tr>
      <td></td>
      <td>Device Name: MyPhone</td>
    </tr>
  </tbody>
</table>
{{end}}