{{define "eventPage"}}
<table class="table table-dark">
  <thead>
    <tr>
      <th ><a style="height:100%;" onclick="switcherSchedule.switch('#schedule-calender')">BACK</a></th>
      <th><h1>Event 1</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Start date: 11/11/11</td>
    </tr>
    <tr>
      <td></td>
      <td>End date: 12/12/12</td>
    </tr>
    <tr>
      <td></td>
      <td>Descriotion: Carnival</td>
    </tr>
  </tbody>
</table>
{{end}}