{{define "script"}}
<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/screenfull.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/calendar.js" type="text/javascript"></script>
{{end}}