{{define "setting"}}
<div class="btn-group-vertical btn-group-sm" role="group" id="lead_buttons">
  <a type="button" class="btn btn-secondary setting-button">Button 1</a>
  <a type="button" class="btn btn-secondary setting-button">Button 2</a>
  <a type="button" class="btn btn-secondary setting-button">Button 3</a>
  <a type="button" class="btn btn-secondary setting-button">Button 4</a>
</div>
{{end}}