{{define "setting"}}
<div id="switch-content-setting">
	<div id="setting-buttons" class="tab-pane fade in active">
		<div class="btn-group-vertical btn-group-sm" role="group" id="lead_buttons">
		  <a type="button" class="btn btn-secondary setting-button" onclick="switcherSetting.switch('#setting-device')">Light Bulb Dimming Sync</a>
		  <a type="button" class="btn btn-secondary setting-button">Night Shift Mode Device Sync</a>
		  <a type="button" class="btn btn-secondary setting-button">Language Settings</a>
		  <a type="button" class="btn btn-secondary setting-button" onclick="stop()">Theme Settings</a>
		</div>
	</div>
	<div id="setting-device" class="tab-pane fade in active">
		{{template "devicePage"}}
	</div>
</div>
{{end}}