<!DOCTYPE html>
<html>
<head>
	<title>Statistics</title>
</head>
<body>
	<style type="text/css">
		button {
			float:left;
		}
		h1 {
			float:left;
		}
	</style>
	<h1>Statistics</h1>
	<button>Button</button>

</body>
</html>